<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937203723421-84dnghu4giv6dbcs66a4pf8st9i09c75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937203723421-84dnghu4giv6dbcs66a4pf8st9i09c75</string>
	<key>API_KEY</key>
	<string>AIzaSyAxOzWGhsU4tjsmdcyt-JH-LNZERlxjzM8</string>
	<key>GCM_SENDER_ID</key>
	<string>937203723421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ikeda.SleepCalendar</string>
	<key>PROJECT_ID</key>
	<string>sleepcheck-eca58</string>
	<key>STORAGE_BUCKET</key>
	<string>sleepcheck-eca58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937203723421:ios:d686525eb5257093adb874</string>
	<key>DATABASE_URL</key>
	<string>https://sleepcheck-eca58.firebaseio.com</string>
</dict>
</plist>